{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">Recipes Collector</div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item"> Home </a>
                <a class="navbar-item" href="/about"> About </a>
                {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'recipe_create' %}"> Add a Recipe </a>
                <a class="navbar-item" href="/recipes"> All Recipes </a>
                <a class="navbar-item" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
                <a class="navbar-item" href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="container">{% block content %} {% endblock %}</main>
</body>

</html>