{% extends 'base.html' %} {% block title %} Recipes {% endblock %}
{% block content %}
<h1>Recipes</h1>
<hr />

<div class="card">
    <div class="card-content">
        <div class="content">
            {{ recipe.name }}
            <p>rating: {{ recipe.rating}}</p>
        </div>
    </div>

    <footer class="card-footer">
        <a href="{{ recipe.link }}" class="card-footer-item">Go To</a>
        <a href="{% url 'recipe_update' recipe.id %}" class="card-footer-item">Edit</a>
        <a href="{% url 'recipe_delete' recipe.id %}" class="card-footer-item">Delete</a>
    </footer>
</div>

{% endblock %}