{% extends 'base.html' %} {% block title %} Recipes {% endblock %}
{% block content %}
<h1>Recipes</h1>
<hr>

{% for recipe in recipes %}

<div class="card">
    <div class="card-content">
        <div class="content">
            {{ recipe.name }}
        </div>
    </div>

    <footer class="card-footer">
        <a href="#" class="card-footer-item">Go To</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>

</div>

{% endfor %}
{% endblock %}